## Titanic  Prediction

My first Kaggle competition, I will using diffrent classification models and tuning and find good model for my prediction

#### Load data and packages

In [1]:
# load packages
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load data
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### EDA

In [3]:
# shape
train.shape

(891, 12)

In [4]:
# check basic df information
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
# fill age missing data
# print(df.Age.mean())
# print(df.Age.median())
# print(df.Age.value_counts().head(15))
# am going to fill it with median value
train.Age.fillna(train.Age.median(), inplace=True)

In [6]:
# fill missing embarked value
train.Embarked.value_counts()
# fill it with mode
train.Embarked.mode()
train.Embarked.fillna('S', inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

All features I will be using have no missing values

In [7]:
# X train and y train
X = train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
X_d = pd.get_dummies(X)
y = train['Survived']
test.Age.fillna(test.Age.median(), inplace=True)
test.Fare.fillna(test.Fare.median(), inplace=True)
X_test = pd.get_dummies(test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']])

#### pd.get_dummies()
Convert categorical variable into dummy/indicator variables.

Each variable is converted in as many 0/1 variables as there are different values. Columns in the output are each named after a value; if the input is a DataFrame, the name of the original variable is prepended to the value.

### Prediction

#### KNN

In [8]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5).fit(X_d, y)
# print('[ SCORE on RAW data ]', knn.score(X_d, y))
# # Normalizing the train data
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# X_scaled = scaler.fit(X)
# sknn = KNeighborsClassifier(n_neighbors=5).fit(X_scaled, y)
# print('[ SCORE on SCALED data ]', sknn.score(X_scaled, y))
# # Startndazing the train data
# from sklearn.preprocessing import StandardScaler
# stand = StandardScaler()
# X_stand = stand.fit(X)
# stknn = KNeighborsClassifier(n_neighbors=5).fit(X_stand, y)
# print('[ SCORE on STANDARDIZED data ]', stknn.score(X_stand, y))
predictions = knn.predict(X_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)

#### Logistic Regression

In [9]:
# logistic regression
from sklearn.linear_model import  LogisticRegression

lrg = LogisticRegression(max_iter=20000).fit(X_d, y)
print('Score with no feature normalization', lrg.score(X_d, y))
# feature normalization

Score with no feature normalization 0.8002244668911336

#### Linear SVC

In [10]:
from sklearn.svm import LinearSVC, SVC

svc = SVC(kernel='linear').fit(X_d, y)
print('[ Score from svc ]', svc.score(X_d, y))

lsvc = LinearSVC().fit(X_d, y)
print('[ Score from LinearCvc ]', lsvc.score(X_d, y))

[ Score from svc ] 0.7867564534231201
[ Score from LinearCvc ] 0.6823793490460157

/home/joseph/Documents/dummiesProjects/DS-Kaggle/titanic/env/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

### From Kaggle

In [11]:
from sklearn.ensemble import RandomForestClassifier

y = train["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train[features])
X_test = pd.get_dummies(test[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
model.score(X, y)
predictions = model.predict(X_test)

# output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
# output.to_csv('submission.csv', index=False)